<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
  </head>
  <link rel="stylesheet" href="static/css/master.css">
  <body>
    "Hello World - Akshay"
    <br>
    <p>
      Click on following links for accessing each week's Task
      <ol>
        <li><a href="/">Task 1</a></li>
        <li><a href="/authors">Task 2</a></li>
        <li><a href="/cookieform">Task 3</a></li>
        <li><a href="/getcookie">Task 4</a></li>
        <li><a href="/robots.txt">Task 5</a></li>
        <li><a href="/html">Task 6</a></li>
        <li><a href="/input">Task 7</a></li>
      </ol>
    </p>
  </body>
</html>
